# start the intial AVS Image script
[Unit]
Description=Start AVS Image
After=systemd-logind.service
After=runlevel1.target runlevel2.target runlevel3.target runlevel4.target runlev
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/alexa_sdk/startImage.sh
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target

